*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
    color:#2d2d80;
    line-height: 1.5em;
}

body{
    margin: 0 10vw;
}


.container{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
}

.logo{
    width: 150px;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: transform .3s ease-out;
}
.logo:hover{
    transform: scale(1.2);
}

.marquee{
    display: flex;
    width: 85%;
    background-color: #2d2d80;
    margin: auto;
    color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    height: 35px;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
.title{
    text-align: center;
    font-size: 25px;
    width: 500;
}
.main-text:hover{
    transform: rotateX(360deg);
    transition: all ease-out .5s;
}


.links{
    display: flex;
    margin: 25px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    background-color: #2d2d80;
    color:#f8f8f8;
    justify-content: center;
    margin: 0 15px;
    padding: 10px 15px;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    border-radius: 10px;
    transition: ease-out transform .3s,ease-out box-shadow .3s;
    text-align: center;
    margin: 25px 50px;
    width: 150px;
}
.link:hover{
    transform: scale(1.5);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
}

@media (max-width:609px) {
    
    .logo{
        flex-basis: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .title{
        margin: 10px 0;
    }

}

.summ{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


.footer p, .footer a, .footer h4{
    background-color: transparent;
    color: #f8f8f8;
    list-style: none;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}
.footer p{
    font-size: .9em;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.footer{
    background-color: #2d2d80;
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.footer h4{
    margin-left: 20px;
    font-size: 1.1em;
}
.ruler{
    width: 160px;
    height: 2px;
    position: absolute;
    left: 30px;
    top: 50px;
}


table{
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 12px;
    justify-content: center;
    padding: 3px;
    margin-bottom: 35px;
}
table td{
    padding: 5px;
    text-align: center;
}
td:hover{
    background-color: black;
    cursor: pointer;
    color: #f8f8f8;
}
th{
    text-align: center;
    padding: 5px;
}
th:hover{
    background-color: black;
    cursor: pointer;
    color: #f8f8f8;

}


