*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
    color:#2d2d80;
    line-height: 1.5em;
    text-transform: uppercase;
}

body{
    margin: 0 10vw;
}


.container{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
}

.logo{
    width: 150px;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: transform .3s ease-out;
}
.logo:hover{
    transform: scale(1.2);
}

.marquee{
    display: flex;
    width: 85%;
    background-color: #2d2d80;
    margin: auto;
    color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    height: 35px;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
.title{
    text-align: center;
    font-size: 25px;
    width: 500;
    transition: transform ease-out .5s;
}
.title:hover{
    transform: rotateX(360deg);
}


.links{
    display: flex;
    margin: 25px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    background-color: #2d2d80;
    color:#f8f8f8;
    justify-content: center;
    margin: 0 15px;
    padding: 10px 15px;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    border-radius: 10px;
    transition: ease-out transform .3s,ease-out box-shadow .3s;
    text-align: center;
    margin: 25px 50px;
    width: 150px;
    font-weight: bold;

}
.link:hover{
    transform: scale(1.5);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
}



.visuals{
    border: 1px #2d2d80 solid;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 20px auto 50px;
    text-transform: uppercase;
}
.visuals h2{
    margin: 20px 0 0 0 ;
    text-align: center;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
}
.visuals h3{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
.sub{
    width: 80%;
    height: auto;
    padding: 15px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sub a{
    margin: 10px 10px 0 10px;
    /* width: auto; to get anchors on one line*/
    width: 60%;
    border: 1px #2d2d80 solid;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .2s ease-out;
}
.sub a:hover{
    background-color: #2d2d80;
    color: #f8f8f8;
}

.map img{
    width: 49%;
}






@media (max-width:609px) {
    
    .logo{
        flex-basis: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .title{
        margin: 10px 0;
    }

}

.footer p, .footer a, .footer h4{
    background-color: transparent;
    color: #f8f8f8;
    list-style: none;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}
.footer p{
    font-size: .9em;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.footer{
    background-color: #2d2d80;
    width: 80%;
    margin: 10vh auto;
    position: relative;
}
.footer h4{
    margin-left: 20px;
    font-size: 1.1em;
}
.ruler{
    width: 160px;
    height: 2px;
    position: absolute;
    left: 30px;
    top: 50px;
}








/*.visuals a{
    margin: 20px 10px;
    padding: 15px;
    width: 55%;
    border: solid 1px #2d2d80;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.countries-bc{
    width: auto;
    height: 100px;
} */



